body {font-family: Arial, Helvetica, sans-serif;}
.block{
  position: relative;
  width: 500px;
  height: 500px;

  background: green;
}
.text {
/*position: absolute;*/
  margin: -10px 9px;
  display: flex;
  flex-direction: row;
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #E82A86;
}

.myBtn{
  position: absolute;
  width: 183px;
  height: 332px;
  left: 281px;
  top: 129px;
}
/* The Modal (background) */
.modal {
  position: absolute;
  left: 61.95%;
  right: -21.74%;
  top: 5.57%;
  bottom: 56.99%;
  transform: matrix(-1, 0.05, 0.05, 1, 0, 0);
}
.hide{
  display: none;
}

/* Modal Content */
.modal-content {  

  position: absolute;
  display: flex;
  flex-direction: column;
  left: 276px;
  right: -95.76%;
  top: -10.18%;
  bottom: 0.69%;

  /*background: #FFFFFF;*/
  transform: matrix(-1, 0.05, 0.05, 1, 0, 0);
  background-image: url(image/big_bubble_talk.svg);
  padding: 30px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 420;
  font-size: 16px;
  line-height: 5px;
  /* identical to box height */

  text-align: center;

  /* Hot pink */

  color: #E82A86;

  transform: rotate(-1.23deg);


}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button {
/*  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;*/
  /* Frame 3 */

/* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 8px;
  gap: 8px;
  text-decoration: none;
  position: absolute;
  width: 98.73px;
  height: 34.07px;
  left: 59.37px;
  top: 76px;

  background: #37474F;
  border-radius: 5px;
  transform: matrix(1, 0, -0.03, 1, 0, 0);

}

.button1 {
  /* VIVID Vietnam */

  width: 73px;
  height: 9px;

  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 19px;
  /* identical to box height */

  color: #FFFFFF;

  transform: matrix(1, 0, -0.03, 1, 0, 0);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  /* VIVID Global */
  margin: 0 117px;
  width: 73px;
  height: 9px;

  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 19px;
  /* identical to box height */

  color: #FFFFFF;

  transform: matrix(1, 0, -0.03, 1, 0, 0);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}

.button2:hover {
  background-color: #008CBA;
  color: white;
}





